@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 244, 239;
  --background-start-rgb: 245, 244, 239;
  --background-end-rgb: 245, 244, 239;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}